<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.app.tykhe">

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <meta-data
        android:name="com.tykhe.notification"
        android:resource="@xml/notification_channel" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/app_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/app_logo_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Tykhe.Spashscreen.Main">

        <receiver
            android:name=".services.Restarter"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="restartservice" />
            </intent-filter>
        </receiver>
        <service
            android:name=".services.SavingItemsSpawner"
            android:enabled="true"
            android:exported="false"></service>

        <activity
            android:name=".OnBoardingActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Tykhe.Spashscreen.OnBoarding"
            android:windowSoftInputMode="adjustPan"></activity>
        <activity
            android:name=".ReminderSettingsActivity"
            android:exported="true"
            android:theme="@style/Theme.Tykhe"></activity>
        <activity
            android:name=".SettingsActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Tykhe"
            android:windowSoftInputMode="adjustPan"></activity>
        <activity
            android:name=".settings.UpdateSavingsActivity"
            android:exported="false"
            android:theme="@style/Theme.Tykhe" />
        <activity
            android:name=".settings.UpdateAccountActivity"
            android:exported="false"
            android:theme="@style/Theme.Tykhe" />
        <activity
            android:name=".HomeActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Tykhe">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>